.slider {
	width:100%;
	height:700px;
	position:relative;	
	overflow:hidden;
}
.slides li img{
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 0;
}

body {
	background-image:  url(images/pic.png);
}
.card {
	box-shadow: 10px 10px 10px 25px  blue lighten-5;
}
footer {
	background-color:  gray darken-2;	
}

#form1 {
	border-radius: 6px 6px 6px black lighten-5;
}
.parallax-container {	
      width: 100%;
      height: 600px;
	  margin: 0;
      padding: 200px 0 260px 0;
      background-size: cover;
}
#modal1 {
	width: 30%;
	height: 54%;
}
#signup_form {
	/*box-shadow: 10px 0px 10px 10px grey;*/
}
.parallax-container {
      height: "20%";
    }
 #p_tag {
 	align: center;
 }
#pic {
	border-radius: 40px 40px 40px 40px ;
}
#a_pic {
	border-radius: 40px 40px 0px 0px ;
}
#home_img {
	border-radius: 25px 25px 0px 0px;
}
.working {
	font-color: grey ;
}
ul {
	text-decoration-color: light-green;
}